mixin articleThumbnail()
    -
        const thumbnail = utils.getUpload(`articles/thumbnail-${utils.randomInt(1, 7)}.jpeg`);
        const ava = utils.getUpload(`articles/author-${utils.randomInt(1, 4)}.jpeg`);
        const author = utils.faker.name.findName();
        const title = utils.faker.name.title();
        const text = `${utils.faker.commerce.productDescription()}...`;

    .article-thumbnail
        .article-thumbnail-image-wrapper
            img.article-thumbnail-image(src=thumbnail alt="Article thumbnail")
            <svg class="article-thumbnail-wave" viewbox="0 0 100 25">
                <path class="article-thumbnail-wave-path" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z" />
                <path class="article-thumbnail-wave-path" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" />
            </svg>
        .article-thumbnail-author
            img.article-thumbnail-author-image(src=ava alt="Article author")
            .article-thumbnail-author-name
                b.text-contrast by 
                | #{author}
        .article-thumbnail-title
            | #{title}
        .article-thumbnail-text
            | #{text}
        .article-thumbnail-footer
            .article-thumbnail-date
                span.bi.bi-calendar-event-fill.article-thumbnail-calendar-icon
                |  Aug 12, 2021
            a.btn.article-thumbnail-more.btn-primary(href="#")
                span.bi.bi-arrow-right
                | Read more


