include sidebarCatalog.pug
include icons/icon.pug

- const sidebarUtils = htmlWebpackPlugin.options.utils;

.sidebar#catalogSidebar
    .sidebar-toggle
        .bi.bi-list
        .sidebar-toggle-text Catalog
    .sidebar-links
        - for(let i = 0; i < 10; i++) {
            - if (i > 4) {
                a.sidebar-link(href=utils.anchor("category"))
                    +icon()
                    .sidebar-link-text=sidebarUtils.faker.commerce.department()
                - continue;
            - }

            - const detailsId = `catalogDetails${i}`;
            .sidebar-link(data-toggle=`#${detailsId}` data-trigger="hover")
                +icon()
                .sidebar-link-text=sidebarUtils.faker.commerce.department()
                    .bi.bi-chevron-right

                .sidebar-catalog(id=detailsId)
                    +sidebarCatalog()
        - }
.sidebar-mobile-toggle(data-toggle="#catalogSidebar")
    span.bi.bi-grid-fill
    | Catalog