- const sidebarUtils = htmlWebpackPlugin.options.utils;

.sidebar
    .sidebar-toggle
        .bi.bi-list
        .sidebar-toggle-text Catalog
    .sidebar-links
        - for(let i = 0; i < 10; i++) {
            - const detailsId = `catalogDetails${+ new Date()}`;
            .sidebar-link(data-toggle=`#${detailsId}` data-trigger="hover")
                img.image(src=sidebarUtils.getUpload(`navigation-icons/${sidebarUtils.randomInt(1, 4)}.svg`) alt="Navigation icon")
                .sidebar-link-text=sidebarUtils.faker.commerce.department()

                .sidebar-catalog(id=detailsId)
                    | Бла бла бла
        - }