mixin checkbox(label, id, checked, required)
    - const className = checked ? "checkbox-checked" : "";

    .checkbox(class= className)
        input.checkbox-input(
            type="checkbox"
            value=""
            id=id
            checked=checked
            required=required
        )
        .checkbox-fake
            .bi.bi-check
        label.checkbox-label(for= id)
            | !{label}
        .checkbox-area