mixin announcement(customOptions)
    -
        const defaultOptions = {
            //- Deprecated
            bg: `background: linear-gradient(140deg, #e7b528, #ff6b9e);`,
            title: "20% OFF",
            subTitle: "be ready to",
            btn: "Shop now",
            btnIcon: "bi-cart",
            btnClass: "btn-contrast",
            days: [0, 3],
            minutes: [1, 0],
            hours: [0, 7],
            image: utils.getUpload("announcement/4.jpg"),
            isVertical: false,
            isBright: false,
        }

        const options = Object.assign(defaultOptions, customOptions);

    a.announcement(
        href=utils.anchor("article")
        style=`background-image: url(${options.image});`
        class=`${options.isVertical ? "announcement-vertical" : ""} ${options.isBright ? "announcement-bright" : ""}`
    )
        .announcement-area
            .announcement-sub-title=options.subTitle
            .announcement-title=options.title
            .announcement-countdown
                .announcement-countdown-item
                    .announcement-countdown-digits-wrapper
                        .announcement-countdown-digit
                            .announcement-countdown-digit-value=options.days[0]
                        .announcement-countdown-digit
                            .announcement-countdown-digit-value=options.days[1]
                    .announcement-countdown-label days
                .announcement-countdown-item
                    .announcement-countdown-digits-wrapper
                        .announcement-countdown-digit
                            .announcement-countdown-digit-value=options.hours[0]
                        .announcement-countdown-digit
                            .announcement-countdown-digit-value=options.hours[1]
                    .announcement-countdown-label hours
                .announcement-countdown-item
                    .announcement-countdown-digits-wrapper
                        .announcement-countdown-digit
                            .announcement-countdown-digit-value=options.minutes[0]
                        .announcement-countdown-digit
                            .announcement-countdown-digit-value=options.minutes[1]
                    .announcement-countdown-label minutes
            .btn.btn-large(class=options.btnClass)
                .bi(class=options.btnIcon)
                | #{options.btn}
