mixin announcement(options)
    -
        let className = options.isBright ? "announcement-bright" : "";
        className += options.fullHeight ? " announcement-full-height" : "";

        let bgImageStyle = `background-image:url(${options.image})`;
    a.announcement(href="#" class= className)
        .announcement-image(style= bgImageStyle)
        .announcement-area
            if (options.subTitle)
                .announcement-sub-title !{options.subTitle}
            if (options.mainTitle)
                .announcement-main-title !{options.mainTitle}
            if (options.description)
                .announcement-description !{options.description}
            if (options.tags)
                .announcement-tags
                    - for (tag of options.tags) {
                        .announcement-tag
                            span.bi.bi-tag-fill.announcement-tag-icon
                            | #{tag}
                    - }
            if (options.btnText)
                .btn(class= options.btnClass)= options.btnText
