mixin pagination()
    .pagination 
        a.btn-faded-default.d-none.d-md-flex(href=utils.anchor("category-4")) First
        .pagination-pages
            a.btn-pagination.btn-pagination-arrow.d-none.d-md-flex(href=utils.anchor("category-4"))
                .bi.bi-arrow-left-short
            a.btn-pagination(href=utils.anchor("category-4")) 1
            a.btn-pagination.active(href=utils.anchor("category-4")) 2
            a.btn-pagination(href=utils.anchor("category-4")) 3
            a.btn-pagination(href=utils.anchor("category-4")) ...
            a.btn-pagination.d-none.d-md-flex(href=utils.anchor("category-4")) 10
            a.btn-pagination.d-none.d-md-flex(href=utils.anchor("category-4")) 11
            a.btn-pagination.d-none.d-md-flex(href=utils.anchor("category-4")) 12
            a.btn-pagination.d-none.d-md-flex(href=utils.anchor("category-4")) 13
            a.btn-pagination.btn-pagination-arrow.d-none.d-md-flex(href=utils.anchor("category-4"))
                .bi.bi-arrow-right-short
        a.btn-faded-default.d-none.d-md-flex(href=utils.anchor("category-4")) Last
