mixin sale-block(bgClass, title, text, linkHref, linkText, icon, iconAlt)
    a.sale-block(href=linkHref class=bgClass)
        .left
            .title= title
            .text= text
            .link
                .bi.bi-cart
                = linkText
        .right
            .icon
                img.image(src=icon alt=iconAlt)