mixin saleBlock(customOptions)
    -
        const defaultOptions = {
            label: "Up to 50%",
            title: utils.faker.company.catchPhrase(),
            image: utils.getUpload("announcement/4.png"),
            type: "sale-block-primary",
        };

        const options = Object.assign(defaultOptions, customOptions);
    a.sale-block(href=utils.anchor("article-1") class=options.type)
        .sale-block-left
            .sale-block-label=options.label
            .sale-block-title=options.title
        .sale-block-right
            .sale-block-buble
            img.sale-block-image(src=options.image alt="Sale block art")