mixin saleBlock(title, image, imageAlt, amount)
    -
        let bgImageStyle = `background-image:url(${image})`;
        let amountText = `Up to ${amount}% off`;
    a.sale-block(href=utils.anchor("article-1"))
        .sale-block-left
            .sale-block-amount= amountText
            .sale-block-title= title
        .sale-block-right(style=bgImageStyle)
            .sale-block-time
                | 12
                .sale-block-time-left days
            .sale-block-time
                | 5
                .sale-block-time-left hours
            .sale-block-time
                | 10
                .sale-block-time-left mins