mixin sale-block(title, linkHref, image, imageAlt, amount)
    -
        let bgImageStyle = `background-image:url(${image})`;
        let amountText = `Up to ${amount}% off`;
    a.sale-block(href=linkHref style=bgImageStyle)
        .sale-block-content
            .sale-block-amount= amountText
            .sale-block-title= title