.filters-expander
    .filters-expander-header.toggled(
        data-toggle="#brandsFilter"
        data-trigger="click"
        data-effect="slide")
        | All Brands
    #brandsFilter.filters-expander-body
        .form-control
            +checkbox("Puma (20)", "pumaCheckbox", true)
        .form-control
            +checkbox("Zara (199)", "zaraCheckbox")
        .form-control
            +checkbox("D&g (30)", "d&gCheckbox")
        .form-control
            +checkbox("Zalando (10)", "zalandoCheckbox")
        .form-control
            +checkbox("Adidas (100)", "adidasCheckbox")
        .filters-view-all(
            data-toggle="#moreBrandFilters"
            data-trigger="click"
            data-effect="slide"
        ) 
            | View All
        #moreBrandFilters.hidden
            .form-control
                +checkbox("Lululemon (2)", "lululemonCheckbox")
            .form-control
                +checkbox("Moncler (90)", "lonclerCheckbox")
            .form-control
                +checkbox("Chanel (44)", "lhanelCheckbox")
            .form-control
                +checkbox("Rolex (100)", "lolexCheckbox")
            .form-control
                +checkbox("Prada (2)", "lradaCheckbox")
