mixin category(name, image)
    -
        const getLinks = () => new Array(utils.randomInt(3, 8))
            .fill(null).map(() => 
            `${utils.faker.commerce.productAdjective()} ${utils.faker.commerce.product()}`);

    .category
        .category-content
            .category-left
                .category-image-wrapper
                    img.category-image(src=image, alt=name)
            .category-right
                .category-name= name
                - for (let link of getLinks()) {
                    a.category-link(href=utils.anchor("category"))=link
                - }