mixin product()
    -
        const randomInt = (min, max) =>  Math.trunc(Math.random() * (max - min) + min);
        const randomElem = (items) =>  items[Math.floor(Math.random() * items.length)];

        const images = ["images/backpack-1.png", "images/watch-1.png",
        "images/headset-1.png", "images/sneackers.png", "images/jacket.jpg",
        "images/t-shirt.jpg"];

        let options = {};
        options.id = randomInt(100, 999);
        options.name = "Product Short Name";
        options.category = "Category";
        options.rate = randomInt(0, 5);
        options.price = `$${randomInt(9, 20)}.00`;
        options.image = randomElem(images);
        options.labels = randomInt(100, 999) % 2 === 0 ? [] : randomInt(100, 999) % 5 === 0 ? [{ class: "bg-warning", text: "10% Sale" }] : [{ class: "bg-contrast", text: "Some label" }];

    .product(data-product-id=options.id)
        .product-content
            .product-labels
                - for (let label of (options.labels || [])) {
                    .product-label(class= label.class)= label.text
                - }
            .product-favourite-icon(data-add-to-favourite)
            .product-image-wrapper
                .bi.bi-zoom-in.product-zoom-icon
                img.product-image(src=options.image, alt=options.name)
            .product-category(title= options.category)= options.category
            .product-title(title= options.name)= options.name
            .product-rate
                - for (let i = 0; i < 5; ++i) {
                    - if (i < options.rate) {
                        .bi.bi-star-fill.product-rate-star
                    - } else {
                        .bi.bi-star.product-rate-star
                    - }
                - }
            .product-price= options.price
            .product-buttons
                .btn.btn-secondary
                    .bi.bi-bag 
                    | Add to cart

