include productOption.pug
include specification.pug

mixin productFull(customOptions = {})
    -
        let options = {};
        options.id = utils.randomInt(100, 999);
        options.name = utils.faker.commerce.productName();
        options.category = utils.faker.commerce.department();
        options.rate = utils.randomInt(0, 5);
        options.price = `$${utils.randomInt(9, 80)}.00`;

        options.imageId = 1;
        options.image = utils.getUpload(`products/${options.imageId}.jpg`);

        options.labels = new Array(utils.randomInt(0, 3)).fill(null).map(() => ({
            class: utils.randomElem(["bg-warning", "bg-success", "bg-contrast", "bg-primary"]),
            text: utils.faker.commerce.productAdjective(),
        }));
        options.reviewsAmount = utils.randomInt(100, 999);
        options.oldPrice = utils.randomInt(100, 999) % 1 === 0 ? `$${utils.randomInt(80, 120)}.00` : undefined;
        options.link = utils.randomElem(["product-card.html", "product-card-1.html"]);
        options = Object.assign(options, customOptions);

        const zoomViewId = `productZoomView${options.id}`;

    .product.product-full
        .row
            .col-xl-6.col-xxl-3.pb-4
                .product-full-gallery
                    .product-full-thumbnails
                        .product-full-thumbnail.active(data-image=options.image data-zoom-view=`#${zoomViewId}`)
                            img.product-full-thumbnail-image(src=options.image, alt="Product thumbnail")
                        - for (let i = 1; i < 3; ++i) {
                            - const thumbImage = utils.getUpload(`products/${options.imageId}-v${i}.jpg`);
                            .product-full-thumbnail(data-image=thumbImage data-zoom-view=`#${zoomViewId}`)
                                img.product-full-thumbnail-image(src=thumbImage, alt="Product thumbnail")
                        - }
                    .product-full-zoom-view
                        img.product-full-zoom-view-image(src=options.image, alt="Product full view" id=zoomViewId)
                        .product-labels
                            - for (let label of (options.labels || [])) {
                                .product-label(class= label.class)= label.text
                            - }
                        .product-favourite-icon
            .col-xl-6.col-xxl-4.pb-4
                a.product-category(href="category.html" title= options.category)= options.category
                .product-title= options.name
                .product-rate-wrapper
                    .product-rate
                        - for (let i = 0; i < 5; ++i) {
                            - if (i < options.rate) {
                                .bi.bi-star-fill.product-rate-star
                            - } else {
                                .bi.bi-star.product-rate-star
                            - }
                        - }
                    .product-rate-label
                        | (#{options.reviewsAmount} reviews)

                +productOption("Style", options.link)
                +productOption("Color", options.link, true)
                .product-full-buy-block
                    .product-price
                        | #{options.price}
                        - if (options.oldPrice) {
                            .product-price-old-value=options.oldPrice
                        - }
                    +quantity()
                    .btn.btn-primary.btn-large
                        .bi.bi-bag 
                        | Add to cart
            .col-xl-12.col-xxl-5.pb-2
                +tabs([
                    {
                        name: "Description",
                        contentId: "#productDescription",
                        active: true,
                    },
                    {
                        name: "Specification",
                        contentId: "#productSpecification",
                    },
                    {
                        name: "Customer Reviews (3)",
                        contentId: "#productReviews",
                    }
                ])
                .tab-content#productDescription
                    include product-description.pug
                .tab-content#productSpecification
                    +specification()
                .tab-content#productReviews Reviews (Coming soon)


