mixin productOption(title, link, isColor = false)
    .product-option
        .product-option-title=title
        - for (let i = 0; i < utils.randomInt(2, 10); i++) {
            - const value = !isColor ? utils.faker.commerce.productMaterial() : "";
            a.product-option-value(href=link class=`
                ${isColor ? "product-option-value-color" : ""}
                ${i === 0 ? "active" : ""}
            `)
                - if (isColor) {
                    .product-option-color(style=`background-color:${utils.randomColor()};`)
                - } else {
                    | #{value}
                - }
        - }

