include productTags.pug

mixin product(customOptions = {})
    -
        let options = {};
        options.id = utils.randomInt(100, 999);
        options.name = utils.faker.commerce.productName();
        options.category = utils.faker.commerce.department();
        options.rate = utils.randomInt(0, 5);
        options.price = `$${utils.randomInt(9, 80)}.00`;
        options.image = utils.getUpload(`products/${utils.randomInt(1, 11)}.jpg`);
        options.labels = new Array(utils.randomInt(0, 3)).fill(null).map(() => ({
            class: utils.randomElem(["bg-warning-faded", "bg-success-faded", "bg-contrast-faded"]),
            text: utils.faker.commerce.productAdjective(),
        }));
        options.showRateDigit = true;
        options.by = utils.faker.company.companyName();
        options.oldPrice = utils.randomInt(100, 999) % 3 === 0 ? `$${utils.randomInt(80, 120)}.00` : undefined;
        options.link = utils.randomElem(["product-card", "product-card-1"]);
        options.inFavourite = utils.randomInt(100, 999) % 7 === 0;
        options.inCompare = utils.randomInt(100, 999) % 10 === 0;
        options.isAdded = utils.randomInt(100, 999) % 6 === 0;
        options = Object.assign(options, customOptions);

    .product(class=`
        ${options.inline ? "product-inline" : ""}
        ${options.hideButtons ? "product-info-only" : "" }
        ${options.inFavourite ? "in-favourite" : ""}
    `)
        .product-content
            .product-labels
                - for (let label of (options.labels || [])) {
                    .product-label(class= label.class)= label.text
                - }
            .product-side-actions
                .product-side-action.hover-contrast(title="Add to favourite" class=`${options.inFavourite ? 'active' : ''}`)
                    .bi.bi-heart
                .product-side-action.hover-primary(title="Add to compare" class=`${options.inCompare ? 'active' : ''}`)
                    .bi.bi-reception-3
            .product-image-wrapper
                .product-open-zoom(data-modal="#productViewModal" title="Quick view")
                    .bi.bi-zoom-in
                img.product-image(src=options.image, alt=options.name)
            .product-details
                .product-top
                    a.product-category(href="#" title=options.category)= options.category
                    .product-by
                        | by
                        a(href="#" title=options.by).product-by-link=options.by
                a(href=utils.anchor(options.link)).product-title= options.name
                +rate(options)
                .product-price
                    | #{options.price}
                    - if (options.oldPrice) {
                        .product-price-old-value=options.oldPrice
                    - }
                +productTags()
                - if (!customOptions.hideButtons) {
                    .product-buttons
                        .btn(
                            class=`${options.isAdded ? "btn-faded-success" : `btn-faded-primary`}`
                            title=`${options.isAdded ? "Remove from cart" : `Add to cart`}`
                        )
                            .bi(class=`${options.isAdded ? "bi-check2" : `bi-bag`}`) 
                            span=options.isAdded ? "In cart" : "Add"
                        +quantity(options.isAdded ? 1 : 0)
                - }
