include productTags.pug

mixin product(customOptions = {})
    -
        let options = {};
        options.id = utils.randomInt(100, 999);
        options.name = utils.faker.commerce.productName();
        options.category = utils.faker.commerce.department();
        options.rate = utils.randomInt(0, 5);
        options.price = `$${utils.randomInt(9, 80)}.00`;
        options.image = utils.getUpload(`products/${utils.randomInt(1, 11)}.jpg`);
        options.labels = new Array(utils.randomInt(0, 3)).fill(null).map(() => ({
            class: utils.randomElem(["bg-warning", "bg-success", "bg-contrast", "bg-primary"]),
            text: utils.faker.commerce.productAdjective(),
        }));
        options.oldPrice = utils.randomInt(100, 999) % 3 === 0 ? `$${utils.randomInt(80, 120)}.00` : undefined;
        options.link = utils.randomElem(["product-card.html", "product-card-1.html"]);
        options = Object.assign(options, customOptions);

    .product(class=`${options.inline ? "product-inline" : ""} ${options.hideButtons ? "product-info-only" : "" }`)
        .product-content
            .product-labels
                - for (let label of (options.labels || [])) {
                    .product-label(class= label.class)= label.text
                - }
            .product-favourite-icon
            .product-image-wrapper
                .bi.bi-zoom-in.product-zoom-icon
                img.product-image(src=options.image, alt=options.name)
            .product-details
                .product-category(title= options.category)= options.category
                a(href=options.link title= options.name).product-title= options.name
                .product-rate
                    - for (let i = 0; i < 5; ++i) {
                        - if (i < options.rate) {
                            .bi.bi-star-fill.product-rate-star
                        - } else {
                            .bi.bi-star.product-rate-star
                        - }
                    - }
                .product-price
                    | #{options.price}
                    - if (options.oldPrice) {
                        .product-price-old-value=options.oldPrice
                    - }
                +productTags()
                - if (!customOptions.hideButtons) {
                    .product-buttons
                        .btn.btn-primary
                            .bi.bi-bag 
                            | Add to cart
                - }
