include productTags.pug

mixin product(customOptions = {})
    -
        let options = {};
        options.id = utils.randomInt(100, 999);
        options.name = utils.faker.commerce.productName();
        options.category = utils.faker.commerce.department();
        options.rate = utils.randomInt(0, 5);
        options.price = `$${utils.randomInt(9, 80)}.00`;
        options.image = utils.getUpload(`products/${utils.randomInt(1, 11)}.jpg`);
        options.labels = new Array(utils.randomInt(0, 3)).fill(null).map(() => ({
            class: utils.randomElem(["bg-warning-faded", "bg-success-faded", "bg-contrast-faded"]),
            text: utils.faker.commerce.productAdjective(),
        }));
        options.showRateDigit = true;
        options.by = utils.faker.company.companyName();
        options.oldPrice = utils.randomInt(100, 999) % 3 === 0 ? `$${utils.randomInt(80, 120)}.00` : undefined;
        options.link = utils.randomElem(["product-card", "product-card-1"]);
        options = Object.assign(options, customOptions);

    .product(class=`${options.inline ? "product-inline" : ""} ${options.hideButtons ? "product-info-only" : "" }`)
        .product-content
            .product-labels
                - for (let label of (options.labels || [])) {
                    .product-label(class= label.class)= label.text
                - }
            .product-side-actions
                .product-side-action.hover-contrast(title="Add to favourite")
                    .bi.bi-heart
                .product-side-action.hover-primary(title="Add to compare")
                    .bi.bi-reception-3
            .product-image-wrapper
                .product-open-zoom(data-modal="#productViewModal" title="Quick view")
                    .bi.bi-zoom-in
                img.product-image(src=options.image, alt=options.name)
            .product-details
                .product-top
                    a.product-category(href="#" title=options.category)= options.category
                    .product-by
                        | by
                        a(href="#" title=options.by).product-by-link=options.by
                a(href=utils.anchor(options.link)).product-title= options.name
                +rate(options)
                .product-price
                    | #{options.price}
                    - if (options.oldPrice) {
                        .product-price-old-value=options.oldPrice
                    - }
                +productTags()
                - if (!customOptions.hideButtons) {
                    .product-buttons
                        .btn.btn-faded-primary
                            .bi.bi-bag 
                            | Add
                        +quantity()
                - }
