mixin review()
    -
        const thumbnail = utils.getUpload(`products/${utils.randomInt(1, 5)}.jpg`);
        const ava = utils.getUpload(`articles/author-${utils.randomInt(1, 4)}.jpeg`);
        const author = utils.faker.name.findName();
        const text = `${utils.faker.commerce.productDescription()}...`;

    .review
        .review-author
            img.review-author-image(src=ava alt="Review Author")
        .review-content
            .review-content-header
                .review-content-header-left
                    .review-author-name=author
                    +rate({ rate: 5 })
                .review-content-header-right
                    .review-author-date="20.01.2021"
            .review-content-body=text
            .review-content-footer
                | images...
