include views/partials/header/header.pug

-
    const labels = ['Model', 'Color', 'Size', 'Guarantee Time', 'Free delivery', 'Avaliable', 'In store'];
    const amount = 5;

.section
    .container-full
        +breadcrumbs([
            "Main", "Compare"
        ])
        h1.section-title=`Compare (${amount})`
        .row
            .compare
                .compare-row
                    .compare-col
                    - for (let i = 0; i < amount; i++) {
                        .compare-col
                            .compare-image-wrapper
                                img.compare-image(src=utils.getUpload(`products/${utils.randomInt(1, 11)}.jpg`), alt="Product Image")
                            a.compare-title(href=utils.anchor("product-card"))
                                | #{utils.faker.commerce.productName()}
                    - }
                - for (label of labels) {
                    .compare-row
                        .compare-col=label
                        - for (let i = 0; i < amount; i++) {
                            .compare-col=utils.faker.commerce.productMaterial()
                        - }
                - }

                .compare-row
                    .compare-col
                    - for (let i = 0; i < amount; i++) {
                        .compare-col
                            .btn.btn-faded-primary.compare-buy-btn Add to cart
                            +quantity(1)
                    - }

include views/partials/footer/footer.pug