mixin cartTableRow()
    -
        const productImage = utils.getUpload(`products/${utils.randomInt(1, 11)}.jpg`);
        const price = utils.randomInt(10, 99);
        const name = utils.faker.commerce.productName();
        const amount = utils.randomInt(1, 9);
        const totalPrice = amount * price;
        const id = `productDetails${+ new Date() * utils.randomInt(100, 999)}`;

    .row.cart-table-row
        .col-md-5.cart-table-col
            .cart-table-col-product-wrapper(data-toggle=`#${id}` data-trigger="hover")
                a.cart-table-col-product(href="product-card.html")
                    .cart-table-remove
                        .bi.bi-x
                    .cart-table-col-product-image-wrapper
                        img(src=productImage alt="Product Image").cart-table-col-product-image
                    .cart-table-col-product-name
                        | #{name}
                .cart-table-col-product-details(id=id)
                    +product({
                        hideButtons: true,
                        image: productImage,
                        name: name,
                        price: `$${price}.00`,
                    })
        .col-md-3.cart-table-col
            +quantity(amount)
        .col-md-2.cart-table-col 
            b $#{price}.00
        .col-md-2.cart-table-col 
            b $#{totalPrice}.00